.contactContainer {
  text-align: center;
  padding: 20px;
  /* background-color: #f9f9f9; */
    background-color: #161f2a;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 16px;
  color: #333;
  color:white;

}

p {
  margin-bottom: 20px;
  color: #555;
  color:white;

}

.contactIcons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon {
  font-size: 30px;
  color: #333;
  color:white;

  transition: color 0.3s;
}

.githubIcon:hover {
  color: #4078c0;
}

.linkedinIcon:hover {
  color: #0077b5;
}

.emailIcon:hover {
  color: #d44638;
}

.whatsappIcon:hover {
  color: #25d366;
}



  @media screen and (max-width:620px) {
    .contactContainer{
        max-width: 320px;
        padding: 10px;
    }
  }