.technology{
    padding:0 20px;
}
.technologyHeading
{
    font-size: 28px;
    font-weight: bold;
    color:white;
    padding: 8px 4px;
}
.technology img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: inherit;
}
.techGrid{
    max-width: 1000px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    width:100%;
}